body {
  /* width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #222;
  background-image: url("a.jpg");
  /* backup bg img for body when img from unsplash can't load */
  background-attachment: fixed;
  background-size: cover;
}

/**************************SEARCH*******************************/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  height: 15vh;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.8em 1.5em;
  width: 300px;
  border-radius: 24px;
  background-color: #1a1818d0;
  color: white;
  font-family: inherit;
  font-size: 105%;
}

button {
  margin: 0 0.5em;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  outline: none;
  background-color: #1a1818d0;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #090909df;
}
/**************************SEARCH*******************************/

/**************************WEATHER*******************************/
.weather {
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
  align-items: flex-end;
  gap: 5px;
}

.card {
  flex: 1;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  background: #0c0c0cc9;
  color: white;
  padding: 3rem 2rem;
  border-radius: 30px;
  width: 350px;
  height: 200px;
}

/****************LOCATION, DATE, TIME********************/
.loc_date_time_card {
  flex-direction: column;
}

.loc {
  display: flex;
  align-items: center;
  height: 10vh;
}

.loc h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}

.loc_date_time p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}
/****************LOCATION, DATE, TIME********************/

.sunrise_sunset_card {
    flex-direction: column;
}

.sunrise_sunset_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 10vh;
}

.sunrise_sunset_card p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  flex-direction: column;
}

/*****************SUNRISE SUNSET***********************/

/*****************TEMP, FEELS LIKE***********************/

.temp_card {
    flex-direction: column;
}

h1.temp {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 0;
}

p.feelslike {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

/*****************TEMP, FEELS LIKE***********************/

/*****************DESCRIPTION CARD***********************/

.desc_card {
  flex-direction: column;
}

.desc {
  display: flex;
  height: 10vh;
  align-items: center;
  text-transform: capitalize;
}

.description {
  margin-left: 8px;
}

.desc_card p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

p.humidity,
p.wind {
  margin-left: 25px;
}

/*****************DESCRIPTION CARD***********************/

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

@media (min-width: 319px) and (max-width: 480px) {
    body {
        background-repeat: repeat-y;
    }
    .weather {
        flex-direction: column;
        align-items: center;
        height: 100%;
        /* padding: 100px; */
      }
      .card {
        width: 200px;
        min-width:max-content;
      }
      input.search-bar {
        width: 160px;
      }
      
      button {
        height: 40px;
        width: 40px;
      }
  }
  @media (min-width: 481px) and (max-width: 1200px) {
    .weather {
        flex-direction: column;
        align-items: center;
        height: 100%;
        /* padding: 100px; */
      }
      .card {
        width: 300px;
        min-width:max-content;
      }
      input.search-bar {
        width: 250px;
      }
      
      button {
        height: 50px;
        width: 50px;
      }
  }
  
